/* This is a good way to define your template's colors as CSS variables as 
   it can get tiring to rewrite the color value every time you want to use it.

   The syntax is the same as its done below, 
   :root {
    --name-of-color: value;
    --name-of-color2: value;
   }

   now to use that color later in your CSS, use var(--name-of-color) as the value of the property (you will see that applied in my CSS);
*/
:root {

    --dark-purple: #433261;
    --light-purple: #ccc1e6;
    --ghost-white: #f6f9fe;
    --platinum: #dddfe7;
    --dim-gray: #727274;
    --silver: #b5b6b7;
    --gray: #545454;
}

* {
    /* reseting the margin and padding is optional as Bootstrap already does that, but I like to include it anyway */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif !important;
    background-color: var(--ghost-white);
    /* overflow-y: hidden; */
}

.nav-item {
    color: var(--dim-gray);
    transition: color 300ms ease-in-out;
}

.nav-item:hover {
    color: var(--dark-purple);
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .03rem;
    padding: 0.9rem 0.75rem;
}

.btn-primary {
    background-color: var(--dark-purple);
    color: white;
    border: 2px solid var(--dark-purple);
    transition: all 300ms ease-in-out;
}

.btn-primary:hover {
    background-color: transparent;
    border-color: var(--dark-purple) !important;
    color: var(--dark-purple);
}

.btn-primary:focus {
    background-color: var(--dark-purple) !important;
    border-color: var(--dark-purple) !important;
    color: white;
}

.hero-section p:first-of-type {
    background-color: var(--dark-purple);
    color: var(--light-purple);
    border-radius: 2rem;
    width: fit-content;
}

.hero-section p:first-of-type a {
    color: var(--light-purple);
    font-size: 1rem;
}

.hero-section h1 {
    color: var(--dark-purple);
    font-size: 3rem;
    font-weight: bold;
}

.hero-section p {
    color: var(--dim-gray);
}

.hero-section .email-input {
    padding: .9rem;
    font-size: 1rem;
    width: 20rem;
    outline: none;
    border: 2px solid var(--platinum);
    transition: all 300ms ease-in;
}

.hero-section .email-input:focus {
    border-color: var(--dark-purple) !important;
}

.hero-section .email-input::placeholder {
    color: var(--silver);
}

footer h5 {
    color: var(--dim-gray);
}